footer{
    position: static ;
    bottom: 0;
    width: 100vw;
    height: 14em;
    background-color: #2A2D34;
    .linkgroup{
        margin-left: 37vw;
        ul{
            list-style-type: none;
            display: block;
            float: left;
            margin-top: 3em;
            margin-right: 5em;
            li{
                margin-bottom: 3em;
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 1.5em;
                    transition: color .15s ease-in;
                    &:hover{
                        color: grey;
                        transition: color .15s ease-out;
                    }
                }
            } 
        }
    }
}