main.gallery {
  width: 100vw;
  height: 94em;
  background-color: $principal;
  display: inline-block;

  section.preview {
    background-color: #a3b7d8;
    width: 100vw;
    height: auto;
    margin-top: 7em;
    display: none;
    .previewimg {
      padding: 6em 0 6em 0;
      width: 80em;
      margin-left: 30em;

      @media (min-width: 1900px) {
        margin-left: 56em;
      }

      img {
        width: inherit;
      }

      .info {
        position: absolute;
        height: 10em;
        width: 80em;
        background: rgba(255, 255, 255, 0.3);
        margin-top: -10.2em;

        .user {
          img {
            width: 8em;
            border-radius: 50%;
            float: left;
            margin-left: 1em;
            margin-top: 1em;
          }

          p {
            float: left;
            color: white;
            font-size: 2em;
            margin-top: 1.9em;
            padding-left: 1em;
          }

          .popularity {
            float: left;
            color: white;
            font-size: 5em;
            position: absolute;
            right: 4em;
            top: 0.4em;
            cursor: pointer;
            transition: color 0.25s ease-in-out;
            &:hover {
              color: grey;
            }
          }
        }
      }
    }
    &.shown {
      display: block;
    }
  }

  section.img-grid {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(3, 22em);
    grid-row-gap: 5em;
    grid-column-gap: 5em;
    grid-auto-flow: dense;
    margin-top: 10em;
    margin-bottom: 2em;
    padding-left: 14%;
    padding-right: 7%;

    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 29em);
      margin-top: 11em;
    }

    @media (min-width: 1300px) {
      margin-bottom: 18em;
    }

    @media (min-width: 1900px) {
      grid-template-columns: repeat(4, 1fr);
      margin-top: 13em;
      margin-bottom: 2em;
      padding-left: 12%;
      padding-right: 12%;
    }

    .img {
      width: 100%;
      border-radius: 10px;
      height: 21em;
      a {
        width: inherit;
        border-radius: inherit;
        height: inherit;
        img {
          width: inherit;
          border-radius: inherit;
          height: inherit;
        }
      }
      &:hover {
        cursor: pointer;
      }
      &.upload {
        background-color: rgba(199, 196, 187, 0.64);
        border: 2px dashed #313131;
        width: 22em;
        height: 21em;
        &:hover {
          cursor: pointer;
          border-color: lighten($color: #313131, $amount: 10%);
          &::before {
            color: lighten($color: #313131, $amount: 10%);
          }
        }
        &::before {
          content: "+";
          display: block;
          font-size: 4.6em;
          font-family: "lato";
          margin: 1.6em 0 0 2em;
          color: #333;
          @media (min-width: 1200px) {
            margin: 1.6em 0 0 2.8em;
          }
          @media (min-width: 1300px) {
            margin: 1.6em 0 0 2.7em;
          }
          @media (min-width: 1900px) {
            margin: 2.1em 0 0 3em;
          }
        }
        @media (min-width: 1200px) {
          width: 29em;
        }
        @media (min-width: 1300px) {
        }
        @media (min-width: 1900px) {
          height: 25em;
          width: 33em;
        }
      }
      @media(min-width: 1900px){
        height: 25em;
      }
      
    }
    a {
      color: transparent;
    }
  }
}
.uploadModal {
  display: none;
  position: absolute;
  background-image: linear-gradient(
    to right bottom,
    #5c687c,
    #4e5d7e,
    #44527f,
    #3e467f,
    #3c387c
  ) !important;
  color: #333;
  width: 136em;
  form {
    margin-bottom: 5em;
  }
  fieldset {
    margin: 3em 12em 0 12em;
    border-radius: 5em;
    @media(min-width: 1200px){
      margin: 3em 20em 0 20em;
    }
    legend,
    label {
      color: #fff;
    }
    legend {
      text-align: center;
      font-size: 3em;
    }
    label {
      margin-left: 3em;
      font-size: 2em;
    }
    input[type="file"] {
      color: whitesmoke;
      margin: 1em 0 1em 1em;
    }
    img {
      display: none;
      width: 70em;
      margin: 0 0 2em 6em;
      &.active {
        display: block;
      }
    }
    button {
      padding: 0.8em 2.8em 0.8em 2.8em;
      margin-left: 6em;
      border-radius: 1em;
      color: white;
      font-size: 2.2em;
      border: none;
      background-image: linear-gradient(
        to right bottom,
        #00cdd2,
        #00aacd,
        #0085be,
        #045fa3
      );
    }
  }
}
