.nav {
  position: absolute;
  z-index: 1;

  .navbar {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;

    ul {
      list-style-type: none;

      li {
        padding: 1.7em 4.35em 1em 4.35em;
        display: block;
        float: left;

        &.logo {
          @include reset;
          padding-left: 4.35em;
          padding-top: 0.3em;
          float: left;

          a {
            font-size: 2vw;
          }
        }

        &.user {
          float: right;

          .circle {
            @include circle(4em);
            background-color: #0af;
            border-radius: 25px;
            margin-top: -1.2em;
            margin-left: -15.7em;
            transition: 0.5s ease-in-out background-color;
            &:hover {
              cursor: pointer;
            }
            &:active {
              background-color: #088acc;
            }
            a {
              @include reset;
              margin-left: 0.3em;
              display: block;
              text-transform: uppercase;
              font-size: 3em;
              color: #ffffff;
              text-align: center;
              span {
                margin-left: 2em;
                font-size: 1rem;
                text-transform: none;
              }
            }
          }
          .logOut {
            display: none;
            position: absolute;
            min-height: 2em;
            min-width: 3.5em;
            top: 2.4em;
            right: 4em;
            border-radius: 0.6em;
            background-color: #088acc;
            span {
              color: white;
              font-size: 2.6em;
              text-align: center;
              margin-left: 0.2em;
              margin-bottom: 1em;
              &:hover {
                cursor: pointer;
              }
            }

            &.active {
              display: block;
            }
          }
          svg {
            @include reset;
            width: 4em;
            margin-top: -1.7em;
            cursor: pointer;
            transition: 0.15s fill ease-in-out;

            &:hover {
              fill: rgba(179, 178, 175, 0.92);
            }

            &:active {
              fill: rgba(100, 100, 99, 0.92);
            }
          }
        }
      }

      .menu {
        margin-left: 16vw;

        li {
          a {
            transition: color 0.25s ease-in-out;
          }

          &.actual {
            a {
              color: darken($text, 75%);
            }
          }

          &:hover {
            a {
              color: darken($text, 30%);
            }
          }
        }
        @media (min-width: 1200px) {
          margin-left: 23vw;
        }
        @media (min-width: 1900px) {
          margin-left: 36vw;
        }
      }
    }

    a {
      text-decoration: none;
      color: $text;
      font-size: $font-header-size;
    }
  }
}
