.nav {
  position: absolute;
  z-index: 1;

  .navbar {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;

    ul {
      list-style-type: none;

      li {
        @media(min-width: 1000px) {
          padding: 1.7em 4.35em 1em 4.35em;
          display: block;
          float: left;

          &.logo {
            @include reset;
            padding-left: 4.35em;
            padding-top: 0.3em;
            float: left;

            a {
              font-size: 2vw;
            }
          }

          &.user {
            float: right;

            .circle{
              @include circle(4em);
              background-color: #0af;
              border-radius: 25px;
              margin-top: -1.2em;
              transition: .5s ease-in-out background-color; 
              &:hover{
                cursor: pointer;
              }
              &:active{
                background-color: #088acc;
              }
              a{
                @include reset;
                display: block;
                text-transform: uppercase;
                font-size: 3em;
                color: #ffffff;
                text-align: center;
              }
            }

            svg {
              @include reset;
              width: 4em;
              margin-top: -1.7em;
              cursor: pointer;
              transition: .15s fill ease-in-out;

              &:hover {
                fill: rgba(179, 178, 175, 0.92);
              }

              &:active {
                fill: rgba(100, 100, 99, 0.92);
              }
            }
          }
        }

      }

      .menu {
        margin-left: 36vw;

        li {
          a {
            transition: color .25s ease-in-out;
          }

          &.actual {
            a {
              color: darken($text, 75%);
            }
          }

          &:hover {
            a {
              color: darken($text, 30%);
            }
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: $text;
      font-size: $font-header-size;
    }
  }

}