section.slider{
  width: 100vw;
    
}
.slick-slide {
  height:400px;
  img{
    height: 90vh;
  }
}
.slick-arrow{
  z-index: 10;
}
.slick-prev{
  left: 0;
}
.slick-next{
  right: 0;
}