*{
  box-sizing: border-box;
  &::before{
    box-sizing: border-box;
  }
  &::after{
    box-sizing: border-box;
  }    
}
@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin circle($val){
  width:  $val;
  height: $val;
}